body {
    font-family:"Courier New", Courier, monospace;
    color:whitesmoke;}

html {
    overflow-y: scroll;}

a{
    font-size: 18px;
    text-decoration: none;
    color:white;}

p{
    font-size: 19px;
    font-weight: bold;}

h1 {
    padding-top: 12px;}
h2 {
    font-size: 32px;
    color: deepskyblue;}

.background{
    background-image: url(../imgs/background/back1.jpg);
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: 100%;}

.primary_bloc {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    margin: 20px auto;
    padding: 24px;
    display: block;}

#menu-bloc {
    max-height: 70px;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;}

.menu{
    max-height: 20px;
    max-width: 100px;
    border-radius: 12px;
    flex: 1 50px;
    font-size: 21px;
    margin: 20px;
    padding: 5px;
    text-align: center;
    transition: 0.5s all;
    transition-delay: 0s;}

.menu:hover {;
    flex:1 100px;       
    background-color: #3a3a3b;}

.secondary_bloc {
    margin: 10px auto;
    max-width:950px ;
    display: flex;
    border: 2px solid whitesmoke;
    justify-content: center;}

.info_bloc {
    margin: 10px auto;
    max-width:800px ;
    display: block;
    text-align: center;}

.content_bloc{
    margin: 20px auto;
    width: 48%;
    display: block;
    border: 2px solid whitesmoke;    
    justify-content: center;
    align-items: center;}

.pics_bloc {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;}

.text_bloc {
    max-width: 900px;
    max-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}

#contact_bloc{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;}

.separators{
    font-size: 25px;
    font-weight: 700;}

img{
    filter: brightness(100%);
    transition: filter .4s ease;}
img:hover{
    filter: brightness(50%);}

.biglinea{
    width:70%;
    height:2px;
    border-width:0;
    border-radius: 10px;
    background-color:white;
    margin: auto;}
.linea{
    width:40%;
    height:2px;
    border-width:0;
    border-radius: 10px;
    background-color:white;
    margin: auto;}  

.boto {
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    margin: 12px;
    color: white;
    flex: 1 200px;}

.centrat {
    text-align: center;
    align-content: center;
    margin: 12px;}

@media screen and (max-width: 768px) {
    width: 100%;
}   