body {
    font-family:"Courier New", Courier, monospace;

    color:whitesmoke;}

html {
  overflow-y: scroll;}

a{
    text-decoration: none;
    color:white;}

h1 {
    padding-top: 12px;}

.background{
    background-image: url(../imgs/back.jfif);
    background-attachment: scroll;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;}

.primary_bloc {

    width: 1000px;
    margin: 20px auto;
    padding: 24px;
    max-width: 1000px;
    min-width: 600px;
    display: block;
    border: 5px solid black;}

#menu-bloc {
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;}

.menu{
    max-width: 100px;
    border-radius: 12px;
    flex: 1 50px;
    margin: 15px;
    text-align: center;
    transition: 0.3s all;
    transition-delay: 0s;
    border: 2px solid black;}

.links a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 10px;
    border-radius: 18px;
    transition: 0.25s all;
    transition-delay: 0s;
}

.menu:hover {;
    flex:1 100px;
    font-size: 17px;
    background-color: #3a3a3b;}

.secondary_bloc {
    margin: 10px auto;
    max-width:950px ;
    display: flex;
    border: 2px solid black;
    justify-content: center;}

.info_bloc {
    margin: 10px auto;
    max-width:950px ;
    display: block;
    border: 2px solid black;
    text-align: center;}

.content_bloc{
    margin: 20px auto;
    width: 48%;
    display: block;
    border: 2px solid black;    
    justify-content: center;
    align-items: center;}

.pics_bloc {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;}

.text_bloc {
    max-width: 900px;
    max-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;}

#contact_bloc{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;}

.separators{
    font-size: 30;
}

.color1-bloc {
    flex: 1 300px;
    margin: 12px;
    border-radius: 12px;
    height: 200px;
    background-color: #67cfcb;
    padding: 12px;
    color:white;}

.color2-bloc {
    flex: 1 300px;
    margin: 12px;
    border-radius: 12px;
    height: 200px;
    background-color: salmon;
    padding: 12px;
    color:white;}

.fotozoom{

}

.biglinea{
  width:50%;
  height:2px;
  border-width:0;
  border-radius: 10px;
  background-color:white;
  margin: auto;}

.linea{
  width:40%;
  height:2px;
  border-width:0;
  border-radius: 10px;
  background-color:white;
  margin: auto;}  

.boto {
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    margin: 12px;
    color: white;
    flex: 1 200px;}

.columna {
    column-count: 3;}

.centrat {
text-align: center;
align-content: center;
margin: 12px;}

.container {
width: 75%;
margin: auto;
border: 1px solid red;
box-sizing: border-box;
text-align: center;
}
.container-display {
position: relative;
width: 98%;
 /*indicador*/
margin: 5px;
border: 1px dashed green;
}
.container-text {
text-align: left;
 /*indicador*/
margin: 5px;
border: 1px dashed purple;
}
.boton-slider {
width: 30px;
height: 30px;
background-color: grey;
    }
.boton-slider:hover {
width: 30px;
height: 30px;
background-color: ghostwhite;
}
.fletxaDreta-slider {
position: absolute;
top: 50%;
left: 0%;
transform: translate(0%, -50%);
*/
}
.fletxaEsquerra-slider {
position: absolute;
top: 50%;
right: 0%;
transform: translate(0%, -50%);
}

@media only screen and (max-width: 600px) {
 .primary_bloc {
    width: 1000px;
    height: 800px;
 }
}