body {
    font-family:"Courier New", Courier, monospace;
    color:whitesmoke;}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;}

a{
    font-size: 18px;
    text-decoration: none;
    color:white;}

p{
    font-size: 19px;
    font-weight: bold;}

h1 {
    padding-top: 12px;}
h2 {
    font-size: 32px;
    color: deepskyblue;}

.background{
    background-image: url(../imgs/background/back4.jpg);
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: 100%;}

.primary_bloc {
    max-width: 100%;
    min-width: 600px;
    margin: 20px auto;
    padding: 10px;
    display: block;}

.secondary_bloc {
    max-width:80% ;
    margin: 10px auto;
    display: flex;
    justify-content: center;}

#menu-bloc {
    max-height: 70px;
    max-width: 40%;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;}

.menu{
    max-height: 20px;
    max-width: 80%;
    border-radius: 12px;
    flex: 1 50px;
    font-size: 21px;
    margin: 20px;
    padding: 5px;
    text-align: center;
    transition: 0.5s all;
    transition-delay: 0s;}

.menu:hover {;
    flex:1 100px;       
    background-color: #3a3a3b;}

.content_bloc{
    margin: 20px auto;
    width: 95%;
    display: block;   
    justify-content: center;}

.pics_bloc {       /* Vermell */
    max-width: 100%;
    max-height: 600 px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-self: center;}

.pic{
    max-width:45%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center;
    }

p.pic_info{

    font-size: 16px;
    text-align: center;
    align-self: center;
}

.picfull{
    overflow: hidden;
    max-width:99%;
    height: auto;}

.text_bloc {
    max-width: 100%;
    max-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;}

#contact_bloc{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;}

.separators{
    font-size: 25px;
    font-weight: 700;}

img{
    filter: brightness(100%);
    transition: filter .4s ease;}
img:hover{
    filter: brightness(50%);}

img.zoom: hover{
    transition: 0,5s all;
    scale: 1.2;}

.round{
    border-radius: 150px;
    border: 5px solid whitesmoke;
}

.info_bloc {
    margin: 10px auto;
    max-width:900px ;
    display: block;
    text-align: center;}

.info_bloks{
    margin: 10px auto;
    max-width:95%px ;
    display: block;
    text-align: center;
    align-self: center;
}

.biglinea{
    width:70%;
    height:2px;
    border-width:0;
    border-radius: 10px;
    background-color:white;
    margin: auto;}
.linea{
    width:40%;
    height:2px;
    border-width:0;
    border-radius: 10px;
    background-color:white;
    margin: auto;}  

.boto {
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    margin: 12px;
    color: white;
    flex: 1 200px;}

.centrat {
    heigh: 70px;
    padding: 20px;
    text-align: center;
    align-content: center;
    margin: 12px;}

@media screen and (max-width: 768px) {
    img{
       width: 95%;
       heigh: 100 px;
    }
    
    .separators{
    font-size: 25px;
    font-weight: 700;}

    a{
    font-size: 14px;
    text-decoration: none;
    color:white;}

    p{
    font-size: 12px;
    font-weight: bold;}

    p.pic_info{

    font-size: 12px;
    text-align: center;
    align-self: center;}

    .primary_bloc {
    max-width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    display: block;}

    #menu-bloc {
    max-height: 70px;
    max-width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;}

    .menu{
    max-height: 20px;
    max-width: 80%;
    border-radius: 12px;
    flex: 1 50px;
    font-size: 14px;
    text-align: center;
    transition: 0.5s all;
    transition-delay: 0s;}

    .pic{
    max-width:45%;
    height: 10%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center;
    }
}   
